html {
  height: 100vh;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 60vw;
  height: 75vh;
}

.left {
  flex: 1;
}

.left > img {
  height: 75vh;
}

.right {
  flex: 2;
}

.speechbubble {
  /*height: 100%;*/
  border: 4px solid black;
  padding: 50px;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  border-radius: 50px;
  font-family: 'Walter Turncoat', cursive;
  font-size: 4vh;
}

.speechbubble > h1 {
  margin-top: 0;
}

/* speech bubble 6 */

.speechbubble:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid black;
  border-top: 10px solid black;
  border-bottom: 10px solid transparent;
  left: -21px;
  top: 28vh;
}

.speechbubble:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 7px solid transparent;
  border-right: 7px solid #fff;
  border-top: 7px solid #fff;
  border-bottom: 7px solid transparent;
  left: -11px;
  top: calc(28vh + 4px);
}

* {
  /*border: solid 1px black;*/
  box-sizing: border-box;
}